#header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  transition: transform .4s;
  --height: 0;

  @include tablet {
    --header-height: 63px;
  }

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: var(--height);
    border-bottom: 1px solid #d6d7da;
    background: #fff;
    transition: .3s;
    z-index: 1;
    content: '';
  }

  &.hide {
    transform: translateY(-100%);
    .hidden &{
      transform: translateY(0);
    }
  }

  .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
    height: 100%;
    z-index: 2;
  }

  .logo {
    display: flex;
    align-items: center;
    height: var(--header-height);

    svg{
      height: 31px;
      @include tablet {
        height: 23px;
      }
    }

  }

  .group-util {
    display: flex;
    font-size: 12px;


    .util-area {
      display: flex;


      .vision-wrap {
        display: flex;

        @include pc {
          display: none;
        }
      }

      .link {
        display: flex;
        align-items: center;
        padding: 0 12px;

        &:hover>span {
          font-weight: 700;
        }
      }



    }

    .language-wrap {
      display: flex;
      @include tablet {
        display: none;
      }


      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        color: #d6d7da;
        font-weight: 700;

        &:active {
          color: #232324;
        }

        &:nth-last-child(1) {
          position: relative;
        }

        &:nth-last-child(1)::after {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: 1px;
          height: 10px;
          margin-top: -5px;
          background-color: #d6d7da;
        }

      }

      .link.active {
        color: #232324;
      }
    }
  }

  .btn-menu {
    display: none;

    @include tablet {
      display: flex;
      height: 63px;
      align-items: center;

      &.close {}
    }
  }

}

#gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;

  @include tablet {
    display: none;
  }


  .depth1 {
    display: flex;
    height: 100%;

    .depth1-item {
      display: flex;
      align-items: center;

      &:hover>a {
        font-weight: 700;
      }


      a {
        padding: 0 15px;
      }
    }
  }


  .depth2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .1s;

    &.on {
      opacity: 1;
      visibility: visible;
      transition: .3s .1s;
    }

    .depth2-item {
      color: #d6d7da;

      &.active {
        color: #232324;
        font-weight: 700;
      }

      white-space: nowrap;
    }

  }
}
#gnb .depth1-item:focus,
#gnb .depth1-item:focus-within {
    .depth2{
      visibility: visible;
    }
    .depth2-item{
      opacity: 0;
    }
  }

.depth1-item{
  &:nth-last-child(1) a {
    position: relative;
  }
  
  &:nth-last-child(1) a::after {
    content: "BETA";
    color: rgba(35, 35, 36, .5);
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 3px;
    left: 100%;
    margin-left: -15px;
    transform: scale(.8);
  }
}


.hidden {
  overflow: hidden;
}

.util-svg {
  width: 8px;
  height: 8px;
  margin-left: 4px;
}

.side-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 24px;
  background: #fff;
  transform: translateX(100%);
  transition: .5s;
  z-index: 100;
  overflow: auto;

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  &.on {
    transform: translateX(0);
  }

  .group-top {
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);

    .logo {
      display: flex;
      align-items: center;
      height: var(--header-height);

      svg{
        height: 23px;
      }
    }

    .btn-close {
      margin-right: -16px;
      padding: 16px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .group-nav {

    .depth1-item {
      
        
        &:nth-last-child(1) a::after {
          font-size: 16px;
          font-weight: 900;
          text-transform: lowercase;
          top: 5px;
          margin-left: 4px;
      }
    }

    .tit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 74px;
      font-size: 24px;
      font-weight: 700;

      .btn-arrow {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 42px;
        height: 42px;

        svg {
          transition: transform .3s;
        }

        &.active {
          svg {
            transform: rotate(180deg);
          }

        }
      }
    }

    .depth2 {
      margin-left: 24px;
      display: none;

      &-item {
        margin-bottom: 16px;
        color: #6c6d6f;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 35px;
    margin-bottom: 23px;
  }
}

#sideNav {
  .group-util {
    flex-direction: column;
    flex: 1;

    .top {
      display: flex;
      gap: 24px;
      font-size: 16px;
      width: 100%;
      height: auto;
      margin-top: 10px;
      padding-top: 25px;
      border-top: 1px solid #ebeef2;
      flex: 1;
     

      .link {
        display: flex;
        align-items: center;
        line-height: 44px;

        &.active {
          span {
            font-weight: 700;
          }
        }
      }
    }
    .bottom{
      .other-wrap{
        display: flex;
        gap: 32px;
        color: #a6a7a9;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -.02em;
      }
      .language-wrap{
        display: flex;
      }
    }
  }
}